<div ng-controller="HeaderCtrl">

<nav class="navbar navbar-inverse" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-click="navbarCollapsed = !navbarCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand xs-visible" href="/userpage"> 
		{{user.get('first_name')}} {{user.get('last_name')}}
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" collapse="!navbarCollapsed">
		<ul class="nav navbar-nav">
			<li><a ng-class="{'menu_active': menu == '/'}" href="/">Главная</a></li>
			<li><a><i class="fa fa-windows m-r-15"></i>Карта</a></li>
			<li><a><i class="fa fa-map-signs m-r-15"></i>Точки</a></li>
			<li><a ng-class="{'menu_active': menu == 'quests'}" href="/quests"><i class="fa fa-map-o m-r-15"></i>Квести</a></li>
			<li><a><i class="fa fa-home m-r-15"></i>Про Нас</a></li>
			<li><a ng-class="{'menu_active': menu == 'news'}" href="/news"><i class="fa fa-newspaper-o m-r-15"></i>Новини</a></li>
			<li><a ng-class="{'menu_active': menu == 'users'}" href="/users"><i class="fa fa-users m-r-15"></i></i>Користувачі</a></li>
			<li><a ng-show="user == null" ng-click="login()"><i class="fa fa-sign-in m-r-15"></i>Войти</a></li>
			<li><a ng-show="user != null" ng-click="logout()"><i class="fa fa-sign-out m-r-15"></i>Выйти</a></li>
		</ul>
    </div>
</nav>
</div>
<lockscreen ></lockscreen>