<div ng-controller="HeaderCtrl">

<!--
	<div class="hidden-xs">
			<div class="mobile-header-avatar inline vm m-r-20 cover" style="background-image:url('{{user.get('smoll_avatar')}}')" ></div>
			<h4 class="text-white inline no-margin vm">{{user.get('first_name')}}</h4>
			<h5 class="text-white inline no-margin text-danger vm">{{user.get('last_name')}}</h5>
			<div class="pull-right text-right">
				<button class="btn btn-primary" ng-show="user == null" ng-click="login()">Login</button>
				<button class="btn btn-primary" ng-show="user != null" ng-click="logout()">Exit</button>
			</div>
	</div>
	-->
	<div class="topbar hidden-xs">
	  <div class="header-left"> 
		<div class="topnav">
		  <a data-toggle="sidebar-collapsed" href="#" class="menutoggle"><span class="menu__handle"><i class="fa fa-bars"></i></span></a>
		  <ul class="nav nav-icons">
			<li><a class="toggle-sidebar-top" href="#"><i class="fa fa-users"></i></a></li>
			<li><a href="mailbox.html"><span class="octicon octicon-mail-read"></span></a></li>
			<li><a href="#"><span class="octicon octicon-flame"></span></a></li>
			<li><a href="builder-page.html"><span class="octicon octicon-rocket"></span></a></li>
		  </ul>
		</div>
	  </div>
	</div>
	<!--
	<div class="visible-xs mobile_menu" >
		<div class="mobile-header-avatar inline vm m-r-20 cover " style="background-image:url('{{user.get('smoll_avatar')}}')" ></div>
		<h4 class="text-white inline no-margin vm">{{user.get('first_name')}}</h4>
		<h5 class="text-white inline no-margin text-danger vm">{{user.get('last_name')}}</h5>		
		<div class="pull-right m-t-5" ng-click="showMenu()">
			<i class="fa fa-bars text-success">menu</i>
		</div>
	</div> 	
	-->
</div>
<lockscreen ></lockscreen>