<div class="col-sm-12">
	<div class="gallery" masonry='{ "isFitWidth": true,"gutter": 10}'>
		<div ng-repeat="(key, itm) in news" class="masonry-brick gallery-item" ng-click="open(itm.id)" attr="{{itm.id}}">
		
				<img class="full-width " alt="{{key}}" src="{{itm.get('photo_src')}}"/>
				<div class="gallery-body pull-bottom full-width gradient-grey text-white padding-10">
						<h3 class="elipsis no-margin nowrap">{{itm.get('title_news')}}</h3>
						<p class="elipsis p-2-rows no-margin">{{itm.get('text_news')}}</p>
				</div>
				<div class="top-left text-success bold">
					<i class="fa fa-eye m-r-5 m-l-5"></i>
					<p class="inline no-margin">{{itm.get('views')}}</p>
				</div>
				<div class="top-right m-r-10 text-success">
					<i class="fa fa-circle-o"></i>
				</div>

				<script type="text/ng-template" id="news_detail_modal">
					<div class="clearfix bg-black flex news_detail_modal">
						<div class="col-sm-8 no-padding">	
							<carousel class="gallery-slider full-width full-height" ng-swipe-left="next()" ng-swipe-right="prev()" ng-mouseleave="play()" ng-mouseenter="pause()" no-wrap="noWrapSlides" interval="5000">
							  <slide class="news_det_sli" ng-repeat="(key, img) in news_det.get('detail_photos')" >
								<div class="cover full-width full-height blur modal_lside" style="background-image:url('{{img.src}}')"></div>
								<img src='{{img.src}}'/>
							  </slide>
							</carousel>
						</div>
						<div class="col-sm-4">
							<h3 class="text-danger">{{news_det.get('title_news')}}</h3>
							<h4 class="hint-text">{{news_det.get('category')}}</h4>
							<p>{{news_det.get('text_news')}}</p>
							<button ng-click="cancel()" type="button" class="btn btn-primary m-b-15 pull-right">Закрити</button>
						</div>
					</div>
				</script>
		</div>
	</div>
</div>