.top-left {
    left: 0;
    position: absolute !important;
    top: 0;
}
.top-right {
    position: absolute !important;
    right: 0;
    top: 1px;
}
.bottom-left {
    bottom: 1px;
    left: 0;
    position: absolute !important;
}
.bottom-right {
    bottom: 0;
    position: absolute !important;
    right: 0;
}
.pull-bottom {
    bottom: 0;
    position: absolute !important;
}
.pull-up {
    position: absolute !important;
    top: 0;
}
.cursor {
    cursor: pointer;
}
.scroll-x-hidden {
    overflow-x: hidden !important;
}
.p-t-5 {
    padding-top: 5px !important;
}
.p-r-5 {
    padding-right: 5px !important;
}
.p-l-5 {
    padding-left: 5px !important;
}
.p-b-5 {
    padding-bottom: 5px !important;
}
.padding-5 {
    padding: 5px !important;
}
.p-t-10 {
    padding-top: 10px !important;
}
.p-r-10 {
    padding-right: 10px !important;
}
.p-l-10 {
    padding-left: 10px !important;
}
.p-b-10 {
    padding-bottom: 10px !important;
}
.padding-10 {
    padding: 10px !important;
}
.p-t-15 {
    padding-top: 15px !important;
}
.p-r-15 {
    padding-right: 15px !important;
}
.p-l-15 {
    padding-left: 15px !important;
}
.p-b-15 {
    padding-bottom: 15px !important;
}
.padding-15 {
    padding: 15px !important;
}
.p-t-20 {
    padding-top: 20px !important;
}
.p-r-20 {
    padding-right: 20px !important;
}
.p-l-20 {
    padding-left: 20px !important;
}
.p-b-20 {
    padding-bottom: 20px !important;
}
.padding-20 {
    padding: 20px !important;
}
.p-t-25 {
    padding-top: 25px !important;
}
.p-r-25 {
    padding-right: 25px !important;
}
.p-l-25 {
    padding-left: 25px !important;
}
.p-b-25 {
    padding-bottom: 25px !important;
}
.padding-25 {
    padding: 25px !important;
}
.p-t-30 {
    padding-top: 30px !important;
}
.p-r-30 {
    padding-right: 30px !important;
}
.p-l-30 {
    padding-left: 30px !important;
}
.p-b-30 {
    padding-bottom: 30px !important;
}
.padding-30 {
    padding: 30px !important;
}
.p-t-35 {
    padding-top: 35px !important;
}
.p-r-35 {
    padding-right: 35px !important;
}
.p-l-35 {
    padding-left: 35px !important;
}
.p-b-35 {
    padding-bottom: 35px !important;
}
.padding-35 {
    padding: 35px !important;
}
.p-t-40 {
    padding-top: 40px !important;
}
.p-r-40 {
    padding-right: 40px !important;
}
.p-l-40 {
    padding-left: 40px !important;
}
.p-b-40 {
    padding-bottom: 40px !important;
}
.padding-40 {
    padding: 40px !important;
}
.p-t-45 {
    padding-top: 45px !important;
}
.p-r-45 {
    padding-right: 45px !important;
}
.p-l-45 {
    padding-left: 45px !important;
}
.p-b-45 {
    padding-bottom: 45px !important;
}
.padding-45 {
    padding: 45px !important;
}
.p-t-50 {
    padding-top: 50px !important;
}
.p-r-50 {
    padding-right: 50px !important;
}
.p-l-50 {
    padding-left: 50px !important;
}
.p-b-50 {
    padding-bottom: 50px !important;
}
.padding-50 {
    padding: 50px !important;
}
.p-t-55 {
    padding-top: 55px !important;
}
.p-r-55 {
    padding-right: 55px !important;
}
.p-l-55 {
    padding-left: 55px !important;
}
.p-b-55 {
    padding-bottom: 55px !important;
}
.padding-55 {
    padding: 55px !important;
}
.p-t-60 {
    padding-top: 60px !important;
}
.p-r-60 {
    padding-right: 60px !important;
}
.p-l-60 {
    padding-left: 60px !important;
}
.p-b-60 {
    padding-bottom: 60px !important;
}
.padding-60 {
    padding: 60px !important;
}
.p-t-65 {
    padding-top: 65px !important;
}
.p-r-65 {
    padding-right: 65px !important;
}
.p-l-65 {
    padding-left: 65px !important;
}
.p-b-65 {
    padding-bottom: 65px !important;
}
.padding-65 {
    padding: 65px !important;
}
.p-t-70 {
    padding-top: 70px !important;
}
.p-r-70 {
    padding-right: 70px !important;
}
.p-l-70 {
    padding-left: 70px !important;
}
.p-b-70 {
    padding-bottom: 70px !important;
}
.padding-70 {
    padding: 70px !important;
}
.p-t-75 {
    padding-top: 75px !important;
}
.p-r-75 {
    padding-right: 75px !important;
}
.p-l-75 {
    padding-left: 75px !important;
}
.p-b-75 {
    padding-bottom: 75px !important;
}
.padding-75 {
    padding: 75px !important;
}
.p-t-80 {
    padding-top: 80px !important;
}
.p-r-80 {
    padding-right: 80px !important;
}
.p-l-80 {
    padding-left: 80px !important;
}
.p-b-80 {
    padding-bottom: 80px !important;
}
.padding-80 {
    padding: 80px !important;
}
.p-t-85 {
    padding-top: 85px !important;
}
.p-r-85 {
    padding-right: 85px !important;
}
.p-l-85 {
    padding-left: 85px !important;
}
.p-b-85 {
    padding-bottom: 85px !important;
}
.padding-85 {
    padding: 85px !important;
}
.p-t-90 {
    padding-top: 90px !important;
}
.p-r-90 {
    padding-right: 90px !important;
}
.p-l-90 {
    padding-left: 90px !important;
}
.p-b-90 {
    padding-bottom: 90px !important;
}
.padding-90 {
    padding: 90px !important;
}
.p-t-95 {
    padding-top: 95px !important;
}
.p-r-95 {
    padding-right: 95px !important;
}
.p-l-95 {
    padding-left: 95px !important;
}
.p-b-95 {
    padding-bottom: 95px !important;
}
.padding-95 {
    padding: 95px !important;
}
.p-t-100 {
    padding-top: 100px !important;
}
.p-r-100 {
    padding-right: 100px !important;
}
.p-l-100 {
    padding-left: 100px !important;
}
.p-b-100 {
    padding-bottom: 100px !important;
}
.padding-100 {
    padding: 100px !important;
}
.m-t-0 {
    margin-top: 0;
}
.m-r-0 {
    margin-right: 0;
}
.m-l-0 {
    margin-left: 0;
}
.m-b-0 {
    margin-bottom: 0;
}
.m-t-5 {
    margin-top: 5px;
}
.m-r-5 {
    margin-right: 5px;
}
.m-l-5 {
    margin-left: 5px;
}
.m-b-5 {
    margin-bottom: 5px;
}
.m-t-10 {
    margin-top: 10px;
}
.m-r-10 {
    margin-right: 10px;
}
.m-l-10 {
    margin-left: 10px;
}
.m-b-10 {
    margin-bottom: 10px;
}
.m-t-15 {
    margin-top: 15px;
}
.m-r-15 {
    margin-right: 15px;
}
.m-l-15 {
    margin-left: 15px;
}
.m-b-15 {
    margin-bottom: 15px;
}
.m-t-20 {
    margin-top: 20px;
}
.m-r-20 {
    margin-right: 20px;
}
.m-l-20 {
    margin-left: 20px;
}
.m-b-20 {
    margin-bottom: 20px;
}
.m-t-25 {
    margin-top: 25px;
}
.m-r-25 {
    margin-right: 25px;
}
.m-l-25 {
    margin-left: 25px;
}
.m-b-25 {
    margin-bottom: 25px;
}
.m-t-30 {
    margin-top: 30px;
}
.m-r-30 {
    margin-right: 30px;
}
.m-l-30 {
    margin-left: 30px;
}
.m-b-30 {
    margin-bottom: 30px;
}
.m-t-35 {
    margin-top: 35px;
}
.m-r-35 {
    margin-right: 35px;
}
.m-l-35 {
    margin-left: 35px;
}
.m-b-35 {
    margin-bottom: 35px;
}
.m-t-40 {
    margin-top: 40px;
}
.m-r-40 {
    margin-right: 40px;
}
.m-l-40 {
    margin-left: 40px;
}
.m-b-40 {
    margin-bottom: 40px;
}
.m-t-45 {
    margin-top: 45px;
}
.m-r-45 {
    margin-right: 45px;
}
.m-l-45 {
    margin-left: 45px;
}
.m-b-45 {
    margin-bottom: 45px;
}
.m-t-50 {
    margin-top: 50px;
}
.m-r-50 {
    margin-right: 50px;
}
.m-l-50 {
    margin-left: 50px;
}
.m-b-50 {
    margin-bottom: 50px;
}
.m-t-55 {
    margin-top: 55px;
}
.m-r-55 {
    margin-right: 55px;
}
.m-l-55 {
    margin-left: 55px;
}
.m-b-55 {
    margin-bottom: 55px;
}
.m-t-60 {
    margin-top: 60px;
}
.m-r-60 {
    margin-right: 60px;
}
.m-l-60 {
    margin-left: 60px;
}
.m-b-60 {
    margin-bottom: 60px;
}
.m-t-65 {
    margin-top: 65px;
}
.m-r-65 {
    margin-right: 65px;
}
.m-l-65 {
    margin-left: 65px;
}
.m-b-65 {
    margin-bottom: 65px;
}
.m-t-70 {
    margin-top: 70px;
}
.m-r-70 {
    margin-right: 70px;
}
.m-l-70 {
    margin-left: 70px;
}
.m-b-70 {
    margin-bottom: 70px;
}
.m-t-75 {
    margin-top: 75px;
}
.m-r-75 {
    margin-right: 75px;
}
.m-l-75 {
    margin-left: 75px;
}
.m-b-75 {
    margin-bottom: 75px;
}
.m-t-80 {
    margin-top: 80px;
}
.m-r-80 {
    margin-right: 80px;
}
.m-l-80 {
    margin-left: 80px;
}
.m-b-80 {
    margin-bottom: 80px;
}
.m-t-85 {
    margin-top: 85px;
}
.m-r-85 {
    margin-right: 85px;
}
.m-l-85 {
    margin-left: 85px;
}
.m-b-85 {
    margin-bottom: 85px;
}
.m-t-90 {
    margin-top: 90px;
}
.m-r-90 {
    margin-right: 90px;
}
.m-l-90 {
    margin-left: 90px;
}
.m-b-90 {
    margin-bottom: 90px;
}
.m-t-95 {
    margin-top: 95px;
}
.m-r-95 {
    margin-right: 95px;
}
.m-l-95 {
    margin-left: 95px;
}
.m-b-95 {
    margin-bottom: 95px;
}
.m-t-100 {
    margin-top: 100px;
}
.m-r-100 {
    margin-right: 100px;
}
.m-l-100 {
    margin-left: 100px;
}
.m-b-100 {
    margin-bottom: 100px;
}
.full-height {
    height: 100% !important;
}
.full-width {
    width: 100%;
}
.hide {
    display: none;
}
.inline {
    display: inline-block !important;
}
.block {
    display: block;
}
.b-blank {
    border-color: #000;
}
.b-a, .b-r, .b-l, .b-t, .b-b {
    border-style: solid;
    border-width: 0;
}
.b-r {
    border-right-width: 1px;
}
.b-l {
    border-left-width: 1px;
}
.b-t {
    border-top-width: 1px;
}
.b-b {
    border-bottom-width: 1px;
}
.b-a {
    border-width: 1px;
}
.b-dashed {
    border-style: dashed;
}
.b-thick {
    border-width: 2px;
}
.b-transparent {
    border-color: rgba(0, 0, 0, 0.4);
}
.b-transparent-white {
    border-color: rgba(255, 255, 255, 0.3);
}
.b-grey {
    border-color: #e6e6e6;
}
.b-white {
    border-color: #fff;
}
.b-primary {
    border-color: #6d5cae;
}
.b-complete {
    border-color: #6d5cae;
}
.b-success {
    border-color: #10cfbd;
}
.b-info {
    border-color: #3b4752;
}
.b-danger {
    border-color: #f55753;
}
.b-warning {
    border-color: #f8d053;
}
.b-rad-sm {
    border-radius: 3px;
}
.b-rad-md {
    border-radius: 5px;
}
.b-rad-lg {
    border-radius: 7px;
}
.no-border {
    border: medium none !important;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.fs-10 {
    font-size: 10px !important;
}
.fs-11 {
    font-size: 11px !important;
}
.fs-12 {
    font-size: 12px !important;
}
.fs-13 {
    font-size: 13px !important;
}
.fs-14 {
    font-size: 14px !important;
}
.fs-15 {
    font-size: 15px !important;
}
.fs-16 {
    font-size: 16px !important;
}
.fs-17 {
    font-size: 17px !important;
}
.fs-18 {
    font-size: 18px !important;
}

.thin {
    font-family: roboto-thin;
}
.text-master {
    color: #626262 !important;
}
.text-master-light {
    color: #e6e6e6 !important;
}
.text-black {
    color: #2c2c2c !important;
}
.text-white {
    color: #fff !important;
}
.text-complete {
    color: #48b0f7 !important;
}
.text-success {
    color: #1bc98e !important;
}
.text-info {
    color: #3b4752 !important;
}
.text-warning {
    color: #f8d053 !important;
}
.text-warning-dark {
    color: #c9a843 !important;
}
.text-danger {
    color: #e64759 !important;
}
.text-primary {
    color: #6d5cae !important;
}
.text-right {
    text-align: right !important;
}
.text-left {
    text-align: left !important;
}
.text-center {
    text-align: center !important;
}
.gradient-grey {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 75%) repeat scroll 0 0;
}
.gradient-black {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 75%) repeat scroll 0 0;
}
.bg-white {
    background-color: #fff;
}
.bg-black {
    background-color: #000;
}
.bg-transparent {
    background-color: transparent !important;
}
.hint-text {
    opacity: 0.7;
}
.no-decoration {
    text-decoration: none !important;
}
.bg-master {
    background-color: #626262;
}
.bg-master-light {
    background-color: #e6e6e6;
}
.bg-master-lighter {
    background-color: #f0f0f0;
}
.bg-master-lightest {
    background-color: #fafafa;
}
.bg-master-dark {
    background-color: #2c2c2c;
}
.bg-master-darker {
    background-color: #1a1a1a;
}
.bg-master-darkest {
    background-color: #121212;
}
.bg-primary {
    background-color: #6d5cae;
}
.bg-primary-dark {
    background-color: #584b8d;
}
.bg-primary-darker {
    background-color: #413768;
}
.bg-primary-light {
    background-color: #8a7dbe;
}
.bg-primary-lighter {
    background-color: #e2deef;
}
.bg-complete {
    background-color: #48b0f7;
}
.bg-complete-dark {
    background-color: #3a8fc8;
}
.bg-complete-darker {
    background-color: #2b6a94;
}
.bg-complete-light {
    background-color: #6dc0f9;
}
.bg-complete-lighter {
    background-color: #daeffd;
}
.bg-success {
    background-color: #10cfbd;
}
.bg-success-dark {
    background-color: #0da899;
}
.bg-success-darker {
    background-color: #0a7c71;
}
.bg-success-light {
    background-color: #40d9ca;
}
.bg-success-lighter {
    background-color: #cff5f2;
}
.bg-info {
    background-color: #3b4752;
}
.bg-info-dark {
    background-color: #303a42;
}
.bg-info-darker {
    background-color: #232b31;
}
.bg-info-light {
    background-color: #626c75;
}
.bg-info-lighter {
    background-color: #d8dadc;
}
.bg-danger {
    background-color: #f55753;
}
.bg-danger-dark {
    background-color: #c64643;
}
.bg-danger-darker {
    background-color: #933432;
}
.bg-danger-light {
    background-color: #f77975;
}
.bg-danger-lighter {
    background-color: #fddddd;
}
.bg-warning {
    background-color: #f8d053;
}
.bg-warning-dark {
    background-color: #c9a843;
}
.bg-warning-darker {
    background-color: #957d32;
}
.bg-warning-light {
    background-color: #f9d975;
}
.bg-warning-lighter {
    background-color: #fef6dd;
}
hr {
    border-color: #e6e6e6;
}
hr.double {
    border-width: 2px;
}
hr.dotted {
    border-style: dotted none none;
}
.small-text {
    font-size: 12px !important;
}
.normal-text {
    font-size: 13px !important;
}
.large-text {
    font-size: 15px !important;
}
.normal {
    font-weight: normal;
}
.semi-bold {
    font-weight: 400 !important;
}
.bold {
    font-weight: bold !important;
}
p span {
    color: #f55753;
    font-family: roboto-thin;
}
/* mojno obdymat */
.panel {
    border-radius: 1px;
    box-shadow: none;
    position: relative;
    transition: all 0.2s ease 0s;
}
.panel .panel-heading {
    background: transparent none repeat scroll 0 0;
    border-bottom: 0 none;
    border-radius: 0;
    min-height: 48px;
    padding: 20px 20px 7px;
    position: relative;
    z-index: 3;
}
.panel .panel-heading.separator::after {
    background: rgba(0, 0, 0, 0.08) none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 1px;
    left: 16px;
    position: absolute;
    right: 16px;
}
.panel .panel-heading + .panel-body {
    height: calc(100% - 50px);
    padding-top: 0;
}
.panel .panel-heading .panel-title {
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.02em;
    line-height: normal;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    text-transform: uppercase;
    transition: opacity 0.3s ease 0s;
}
.panel .panel-heading .panel-controls {
    float: right;
    margin-top: -3px;
}
.panel .panel-heading .panel-controls ul {
    margin: 0;
    padding: 0;
}
.panel .panel-heading .panel-controls ul li {
    display: inline-block;
    line-height: 0;
    list-style: outside none none;
}
.panel .panel-heading .panel-controls::after {
    clear: both;
    content: "";
    display: table;
}
.panel .panel-heading.panel-heading-hover .panel-title {
    opacity: 0.4;
}
.panel .panel-heading.panel-heading-hover:hover .panel-title {
    opacity: 1;
}
.panel.panel-default {
    border: 1px solid rgba(0, 0, 0, 0.07);
}
.panel.panel-bordered {
    border: 1px solid rgba(230, 230, 230, 0.7);
}
.panel.panel-condensed .panel-heading {
    min-height: 30px;
    padding: 13px 13px 0;
}
.panel.panel-condensed .panel-heading .panel-title {
    opacity: 0.4;
}
.panel.panel-condensed .panel-body {
    padding: 13px;
}
.panel.panel-hover .panel-heading .panel-title {
    opacity: 0.4;
}
.panel.panel-hover:hover .panel-heading .panel-title {
    opacity: 1;
}
.panel.panel-transparent {
    background: transparent none repeat scroll 0 0;
    box-shadow: none;
}
.panel.panel-transparent .panel-body {
    background: transparent none repeat scroll 0 0;
}
.panel.full-height {
    height: calc(100%);
}
.panel.full-height .panel-body {
    height: 100%;
    width: 100%;
}
.panel.panel-featured {
    box-shadow: -1px 1px 3px 0 rgba(121, 129, 135, 0.14);
    float: right;
    width: calc(100% - 50px);
}
.panel.panel-featured .panel-title h4 {
    color: #f0f0f0;
    font-size: 16px;
    text-transform: uppercase;
}
.panel.panel-featured .panel-body h3 {
    font-size: 26px;
    line-height: 34px;
}
.panel.panel-featured .footer .username {
    font-size: 16px;
    line-height: 8px;
    padding-top: 10px;
}
.panel.panel-featured .footer .buttons li {
    display: inline;
    font-weight: bold;
    list-style: outside none none;
    margin-left: 20px;
}
.panel.panel-featured .footer .buttons li:first-child {
    margin-left: 0;
}
.panel.panel-featured .footer .buttons .heart {
    color: #f55753;
}
.panel.panel-featured .footer .buttons .comment {
    color: #626262;
}
.panel.panel-featured .ribbon {
    box-shadow: -3px 0 3px 0 rgba(0, 0, 0, 0.14) inset;
    float: left;
    height: 38px;
    margin-left: -39px;
    width: 38px;
}
.panel.panel-featured .ribbon.green {
    background: #48b0f7 none repeat scroll 0 0;
}
.panel.panel-featured .ribbon.blue {
    background: #10cfbd none repeat scroll 0 0;
}
.panel.hover-fill:hover {
    background: #f0f0f0 none repeat scroll 0 0;
}
.panel.hover-stroke:hover {
    border: 1px solid #e6e6e6;
}
.panel .panel-body {
    height: 100%;
    padding: 20px;
    width: 100%;
}
.panel .panel-body.no-padding .row {
    margin-left: 0;
    margin-right: 0;
}
.panel .panel-body.no-bottom-padding {
    padding-bottom: 0;
}
.panel .panel-body.no-top-padding {
    padding-top: 0;
}
.panel .panel-body .title {
    margin-top: 0;
}
.panel .panel-body.scrollable {
    margin-bottom: 20px;
}
.full-width{
	width:100%;
}
.full-height{
	height:100%;
}
.no-padding{
	padding:0 !important;
}
.no-margin{
	margin:0 !important;
}
.cover {
    background-size: cover;
}
.w-100{
	width:100px;
}
.h-100{
	height:100px;
}











/* main styles */
p{
	font-size:14px;
}
.text-shadow {
    text-shadow: 1px 1px 3px black;
}
.gallery .glyphicon {
    display: none;
}
.gallery .carousel-indicators {
    display: none;
}
.news_detail_modal .news_det_sli {
    height: 100%;
    min-height: inherit;
    width: 100%;
}
.news_detail_modal .item {
    height: 100%;
    min-height: 300px;
    width: 100%;
}
@media screen and (min-width: 768px){
	.flex{
		display:flex;
		-webkit-display:flex;
	}
}
@media screen and (max-width: 768px){
	navbar {
		left: -200px !important;
	}
	navbar.active {
		left: 0 !important;
		opacity:0.95;
	}
	navbar.active ~ section{
		filter:blur(15px);
	}
}
.news_detail_modal .carousel-inner {
    height: 100%;
}
.modal-lg {    
    min-height: 90%;
}
.modal-content {
    height: 100%;
}
.news_detail_modal {
    height: 100%;
}
.gallery-body {
    bottom: -40px;
    transition: all 0.3s ease 0s;
}
.gallery-body p {
    height: 40px;
    opacity: 0;
}
.gallery-item:hover .gallery-body {
    bottom: 0;
}
.gallery-item:hover .gallery-body p{
    opacity: 1;
}
.near_quest .cover {
    height: 150px !important;
}
.mobile_menu {
    padding: 5px 10px;
}