@font-face {
	font-family: 'Roboto';
	src: url('../assets/fonts/RobotoCondensed-Regular.ttf')  format('truetype');
}
@font-face {
	font-family: 'Roboto-Light';
	src: url('../assets/fonts/RobotoCondensed-Light.ttf')  format('truetype');
}
@font-face {
	font-family: 'Roboto-Bold';
	src: url('../assets/fonts/RobotoCondensed-Bold.ttf')  format('truetype');
}
@font-face {
	font-family: 'Roboto-Thin';
	src: url('../assets/fonts/Roboto-Thin.ttf')  format('truetype');
}


$orange: #ff3000;
$white: #ffffff;
$grey: #999;
$light_black:#181a1d;
$light_grey:#2b2e33;
$light_bg:#f5f5f5;
$light: 'Roboto-Light';
$color_success:#1bc98e;
$color_primary:#6d5cae;

body{
	font-family:Helvetica;
	background:$light_bg;
}
.bg-grey{
	background:$grey;
}
.bg-light-black{
	background:$light_black;
}
.bg-light-grey{
	background:$light_grey;
}
.bg-light-grey{
	background:$light_bg;
}
.btn-success {
    background-color: $color_success;
    border-color: $color_success;
    color: $white;
}
.btn-primary{
    background-color: $color_primary;
    border-color: $color_primary;
    color: $white;
}


.near_quests .photo {
    height: 150px;
}
p {
    color: #999;
}
h1,h2,h3,h4,h5{
	color: $light_black;
}

/* Леваое меню */
aside {
    background: $light_grey none repeat scroll 0 0;
    border-right: 1px solid #232730;
    box-sizing: border-box;
    float: left;
    height: 100%;
    left: 0px;
    position: fixed;
    /*top: 60px;*/
    transition: all 0.3s ease 0s;
    width: 240px;
	/*display:none;*/
    z-index: 5;
	overflow: auto;
	top:0;
}
.navbar-footer {
    bottom: 0;
    font-size: 0;
    left: 0;
    position: absolute;
    width: 100%;
}
.navbar-footer a {
    background:$light_black none repeat scroll 0 0;
    box-sizing: border-box;
    display: inline-block;
    padding: 15px 0;
    text-align: center;
    width: 25%;
	&:hover{
		background:$light_grey;
	}
}
.topbar {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
    left: 240px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 300;
    background: $white none repeat scroll 0 0;
    height: 50px;
}
.menutoggle {
    box-sizing: border-box;
    float: left;
    padding: 10px;
}
.topbar .nav.nav-icons > li {
    box-sizing: border-box;
    float: left;
    padding: 10px;
}

.navbar-footer a i {
    color: $white;
    font-size: 15px;
}
aside nav li {
    display: block;
    margin: 5px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}

aside .menu_active {
    color: #10cfbd;
}
aside nav li a {
    box-sizing: border-box;
    color: $grey;
    display: inline-block;
    font-size: 12px;
    padding:5px 10px;
    position: relative;
    text-transform: uppercase;
    width: 100%;
}
.main_menu li a i {
    color: $white;
    font-size: 20px;
    margin-right: 20px;
}
.logo_block .logo {
    background: $light_black none repeat scroll 0 0;
    color: $white;
    font-size: 24px;
    line-height: 24px;
    margin: 0;
    padding: 15px;
    text-transform: uppercase;
}
aside .menu_active span {
    background: #10cfbd none repeat scroll 0 0;
}
aside nav span {
    background: #21252d none repeat scroll 0 0;
    display: inline-block;
    float: right;
    height: 40px;
    margin-right: 10px;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
}

aside:hover a {
    margin: 0;
}
aside nav li a:hover {
    color: #eee;
    text-decoration: none;
}
aside nav span i {
    bottom: 0;
    height: 15px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 15px;
}
.user_nav_block {
    background-size: cover;
    box-sizing: border-box;
    display: block;
    height: 150px;
    position: relative;
    width: 100%;
}
.nav_avatar {
    border: 2px solid #10cfbd;
    border-radius: 50%;
    bottom: 10px;
    height: 40px;
    left: 10px;
    position: absolute;
    width: 40px;
    z-index: 5;
}
.big_user_photo {
    filter: blur(5px);
    height: 130px;
    overflow: hidden;
}
.small_user_photo {
    border: 2px solid black;
    border-radius: 50%;
    bottom: 0;
    height: 100px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
    z-index: 0;
}
.overflow{
	overflow: hidden;
}
section {
	height: 100%;
    padding-left: 240px;
    width: 100%;
	transition-delay: 0s;
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease;
}

.fixed_header header {
    left: 0;
    padding-left: 70px;
    position: fixed;
}

.fixed_header {
    padding-top:60px;
}

.elipsis {
    overflow: hidden;
    text-overflow: ellipsis;
}
.p-2-rows {
    max-height: 40px;
}
.near_text {
    max-height: 84px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.nowrap{
	white-space: nowrap;
}
.live-tile-item {
    position: absolute;
    top: 0;
    z-index: 0;
}
.gallery {
    margin: 40px auto;
}
.xs-visible{
	display:none;
}
@media screen and (max-width: 768px) {
	section{
		margin-top: 50px;
	}



	.xs-no-padding{
		padding:0;
	}
	.fixed_header header {
		height: auto;
		padding: 10px 20px;
	}
	.xs-visible{
		display:block;
	}
}
.mobile-header-avatar {
    border-radius: 50%;
    box-shadow: 0 0 2px black;
    height: 30px;
    width: 30px;
}
.vm{
	vertical-align:middle;
}
.user_nav_block {
    text-shadow: 0 0 2px black;
}
aside:hover .main-logo{
    font-family: RobotoCondensed-Light;
   /* font-size: 65px;
    line-height: 60px;*/
    text-align: center;
}
.main-logo {
    color: white;
    font-size: 20px;
    text-align: right;
}
.small-pictures {
    transition: all 0.3s ease 0s;
}
.small-pictures:hover{
	transform: scale(1.5);
	z-index: 5;
}
.modal-lg_supa {
    height: 100%;
    margin: 0;
    width: 100%;
}
.news_det_sli img {
    bottom: 0;
    left: 0;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    right: 0;
    top: 0;
}
.blur{
	filter:blur(5px);
}
.modal_lside {
    filter: grayscale(0.5) blur(15px);
    -ms-filter: grayscale(0.5) blur(15px);
    -moz-filter: grayscale(0.5) blur(15px);
    -webkit-filter: grayscale(0.5) blur(15px);
    -o-filter: grayscale(0.5) blur(15px);
    overflow: hidden;
    transform: scale(1.1);
    transition: all 10s ease 2s;
}
.active > .modal_lside {
    transform: scale(2);
}