@font-face {
	font-family: 'Roboto';
	src: url('../assets/fonts/Roboto-Regular.ttf')  format('truetype');
}
@font-face {
	font-family: 'Roboto-Light';
	src: url('../assets/fonts/Roboto-Light.ttf')  format('truetype');
}
@font-face {
	font-family: 'Roboto-Light';
	src: url('../assets/fonts/Roboto-Light.ttf')  format('truetype');
}
@font-face {
	font-family: 'Roboto-LightItalic';
	src: url('../assets/fonts/Roboto-LightItalic.ttf')  format('truetype');
}
@font-face {
	font-family: 'Roboto-Medium';
	src: url('../assets/fonts/Roboto-Medium.ttf')  format('truetype');
}
@font-face {
	font-family: 'Roboto-Bold';
	src: url('../assets/fonts/Roboto-Bold.ttf')  format('truetype');
}
@font-face {
	font-family: 'Roboto-Thin';
	src: url('../assets/fonts/Roboto-Thin.ttf')  format('truetype');
}
body{
	font-family: 'Roboto';
}
header {
    background: #1d252d none repeat scroll 0 0;
    border-bottom: 1px solid #232730;
    box-sizing: border-box;
    padding: 5px;
    /*position: fixed;*/
    top: 0;
    width: 100%;
	height: 60px;
    z-index: 4;
}
/* Леваое меню */
navbar {
    background: #2d343c none repeat scroll 0 0;
    border-right: 1px solid #232730;
    box-sizing: border-box;
    float: left;
    height: 100%;
    left: -130px;
    padding: 15px 0;
    position: fixed;
    /*top: 60px;*/
    transition: all 0.3s ease 0s;
    width: 200px;
    z-index: 5;
}

aside nav li {
    display: block;
    margin: 5px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}

navbar .menu_active {
    color: #10cfbd;
}
navbar nav li a {
    box-sizing: border-box;
    color: #999;
    display: inline-block;
    padding: 10px;
    position: relative;
    width: 100%;
}

navbar .menu_active span {
    background: #10cfbd none repeat scroll 0 0;
}
navbar nav span {
    background: #21252d none repeat scroll 0 0;
    display: inline-block;
    float: right;
    height: 40px;
    margin-right: 10px;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
}
navbar:hover {
    left: 0;
}

navbar:hover a {
    margin: 0;
}
navbar nav li a:hover {
    color: #eee;
    font-family: roboto-medium;
    text-decoration: none;
}
navbar nav span i {
    bottom: 0;
    height: 15px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 15px;
}
section {
    background: #f5f5f5 none repeat scroll 0 0;
    height: 100%;
    padding-left: 70px;
    width: 100%;
}
.fixed_header header {
    left: 0;
    padding-left: 70px;
    position: fixed;
}

.fixed_header {
    padding-top:60px;
}

.gallery-item {
    background-color: #000;
    cursor: default;
    height: 240px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    width: 280px;
}
.gallery-item:hover {
    cursor: pointer;
}
.gallery-item[data-width="1"] {
    width: 280px;
}
.gallery-item[data-width="2"] {
    width: 570px;
}
.gallery-item[data-height="1"] {
    height: 240px;
}
.gallery-item[data-height="2"] {
    height: 490px;
}
.gallery-item:hover .cover{
    opacity: 0.6;
}
.gallery-item   .cover{
    opacity: 1;
    transition: opacity 0.35s ease 0s;
}
.elipsis {
    overflow: hidden;
    text-overflow: ellipsis;
}
.p-2-rows {
    max-height: 40px;
}
.nowrap{
	white-space: nowrap;
}
.live-tile-item {
    position: absolute;
    top: 0;
    z-index: 0;
}
.gallery {
    margin: 40px auto;
}
.plane-number {
    color: white;
    text-align: center;
    vertical-align: middle;
    width: 80px;
}
.plane-info {
    color: white;
    font-size: 14px;
    height: 100%;
    padding: 5px 20px;
    vertical-align: middle;
    width: calc(100% - 84px);
}
.plane {
    position: relative;
    width: 100%;
}
.plane-item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    height: 30px;
    overflow: hidden;
	width: 100%;
    transition: all 0.3s ease 0s !important;
}
.plane-item:hover {
    background: black none repeat scroll 0 0;
    height: auto;
    left: 5px !important;
    z-index: 2;
}
.plane-item:nth-child(1) {
    background: #1bc98e none repeat scroll 0 0;
    border-color: #1bc98e;
    text-shadow: 1px 1px 3px black;
}
.plane-item:nth-child(2) {
    background: #a94442 none repeat scroll 0 0;
    border-color: #a94442;
    text-shadow: 1px 1px 3px black;
}
.plane-item:nth-child(3) {
    background: #8a6d3b none repeat scroll 0 0;
    border-color: #8a6d3b;
    text-shadow: 1px 1px 3px black;
}
.plane-info span {
    padding-left: 10px;
}
.plane-item:hover .hide {
    display: block !important;
}
@media screen and (max-width: 768px) {
	.xs-no-padding{
		padding:0;
	}
}
navbar:hover .main-logo{
    font-family: roboto-thin;
   /* font-size: 65px;
    line-height: 60px;*/
    text-align: center;
}
.main-logo {
    color: white;
    font-size: 20px;
    text-align: right;
}