<aside ng-controller="NavbarCtrl">
	<nav>
		<li><a onClick="mapsGet()" class="menu_active">Карта<span><i class="nav_ico icon-circlek"></i></span></a></li>
		<li><a onClick="markersGet()" >Точки<span><i class="nav_ico icon-map-marker"></i></span></a></li>
		<li><a href="/">Квести<span><i class="nav_ico icon-map"></i></span></a></li>
		<li><a href="/">Про Нас<span><i class="nav_ico icon-qrcode"></i></span></a></li>
		<li><a onClick="newsGet()" >Новини<span><i class="nav_ico icon-commentroundtyping"></i></span></a></li>
	</nav>
</aside>
