<aside ng-controller="NavbarCtrl">
	<div class="text-right text-white padding-20">
		<i class="fa fa-circle-o pull-right"></i>
		<p class="no-margin">QRQ</p>
	</div>
	<nav class="main_menu">
		<li><a onClick="mapsGet()" class="menu_active">Карта<span><i class="fa fa-windows text-white"></i></span></a></li>
		<li><a onClick="markersGet()" >Точки<span><i class="fa fa-map-signs"></i></span></a></li>
		<li><a href="/">Квести<span><i class="fa fa-map-o"></i></span></a></li>
		<li><a href="/">Про Нас<span><i class="fa fa-home"></i></span></a></li>
		<li><a onClick="newsGet()" >Новини<span><i class="fa fa-newspaper-o"></i></span></a></li>
	</nav>
</aside>
