.lockscreen {
    background-size: cover !important;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
	.carousel-inner{
		height:100%;
	}
		.carousel-control {
			display: none;
		}
		ol {
			display: none;
		}
		&.show_lockscreen {
			display: block;
		}
		.loc_author_info {
			margin: 40px;
			opacity: 0.8;
		}
		.user_block {
			border: 0 none;
			bottom: 0;
			height: 300px;
			left: 0;
			margin: auto;
			position: absolute;
			right: 0;
			top: 0;
			width: 350px;
		}
}
