<div class="lockscreen" ng-class="{show_lockscreen:lockscreen_active}"> <!-- ng-class="{show_lockscreen:lockscreen_active}" -->  
    
<carousel class="full-width full-height" ng-swipe-left="next()" ng-swipe-right="prev()" ng-mouseleave="play()" ng-mouseenter="pause()" no-wrap="noWrapSlides" interval="10000">
    <slide class="cover full-width full-height" ng-repeat="img in lockscreen_information" style="background:url({{img.webformatURL}})">
		<div class="user_block">
			<p class="lock_screen_name inline">{{user.get('username')}}</p>
		</div>
		<div class="loc_author_info bottom-right text-right">
			<div class="" ng-if="img.userImageURL"><img src="{{img.userImageURL}}"/></div>
			<h2><i class="fa fa-user m-r-30"></i>{{img.user}}</h2>
			<p>{{img.tags}}</p>
		</div>
    </slide>
</carousel>
</div>
