
<navbar class="hidden-xs"></navbar>

<section class="fixed_header clearfix xs-no-padding">
		<header></header>
		<div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
			<div class="row bg-master-darkest">
				<div class="col-sm-6">
					<div class="row">
						<map center="-34.397, 150.644" zoom="8"></map>
					</div>
					<div class="row">
						<div class="col-sm-5">
							<p class="text-white fs-10 inline">time <span class="fs-16 bold thin">QUEST:</span></p>
							<p class="inline fs-18 text-white m-l-15">00:18:45</p>
						</div> 
						<div class="col-sm-5">
							<p class="text-white fs-10 inline"><span class="fs-16 bold thin">Checkpoints:</span></p>
							<p class="inline fs-18 text-white m-l-15">8</p>
						</div>
						<div class="col-sm-2 text-right">
							<i class="fa fa-circle-o text-success "></i>
							<i class="fa fa-bars text-success m-l-20"></i>
							
						</div>
					</div>
					<div class="plane" masonry>
						<div class="plane-item full-widht clearfix masonry-brick" ng-repeat="(key, itm) in user" data-id="{{key}}">
							<div class="plane-number inline"><p class="no-margin">{{key}}<span class="m-l-5">st</span></p></div>
							<div class="plane-info inline ">
								<p class="no-margin"><i class="fa fa-user m-r-15 text-success"></i>{{itm.get('username')}}</p>
								<p class="no-margin hide"><i class="fa fa-flag-o m-r-15"></i>3 <span>checkpoints</span></p>
								<p class="no-margin hide"><i class="fa fa-bicycle m-r-15"></i>max. speed<span>35 km/h</span></p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="" masonry='{ "isFitWidth": true,"percentPosition": true}'>
						<div ng-repeat="(key, itm) in news" class="cover w-100 h-100 masonry-brick small-pictures" alt="{{key}}" style="background-image:url('{{itm.get('photo_src')}}')" ></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
				<h1>Hi world</h1>
				<h2>Hi world</h2>
				<h3>Hi world</h3>
				<h4>Hi world</h4>
				<h5>Hi world</h5>
				<p>Hi world <span>and me </span></p>
				</div>
				<div class="col-sm-6">
					<p class="text-success">success</p>
					<p class="text-danger">danger</p>
					<p class="text-info">info</p>
					<p class="text-warning">warning</p>
					<p class="text-primary">primary</p>
					<a href="">link </a></br>
					<button class="btn btn-primary btn-cont">Primary</button>
					<button class="btn btn-warning btn-cont">warning</button>
					<button class="btn btn-info btn-cont">info</button>
					<button class="btn btn-danger btn-cont">danger</button>
					<button class="btn btn-success btn-cont">success</button>
				</div>
			</div>
			
			<div class="gallery" masonry='{ "isFitWidth": true,"gutter": 10}'>
				<div ng-repeat="(key, itm) in news" class="gallery-item masonry-brick" data-width="1" data-height="1">
				
						<div class="gallery-slider full-width full-height">
							<div data-mode="carousel" data-start-now="true" class="live-tile full-width full-height" data-direction="vertical" data-delay="3000">        
								<div class="cover full-width full-height live-tile-item" alt="{{key}}" style="background-image:url('{{img.src}}')" ng-repeat="(key, img) in itm.get('detail_photos')" ></div>
								<div class="cover full-width full-height live-tile-item" alt="{{key}}" style="background-image:url('{{itm.get('photo_src')}}')"></div>
							</div>
						</div>
						
						
						
						<!--
						<div class="gallery-slider full-width full-height">
							<div class="cover full-width full-height" alt="{{key}}" style="background-image:url('{{img.src}}')" ng-repeat="(key, img) in itm.get('detail_photos')" ></div>
						</div>-->
						<div class="gallery-body pull-bottom full-width gradient-grey text-white padding-10 m-b-20">
								<h3 class="elipsis no-margin nowrap">{{itm.get('title_news')}}</h3>
								<p class="elipsis p-2-rows no-margin">{{itm.get('text_news')}}</p>
							<!--<div class="cover pull-left w-100 h-100" style="background-image:url('{{img.src}}')" ng-repeat="(key, img) in itm.get('detail_photos')"></div>-->
						</div>
						<div class="bottom-right full-width text-right p-r-10 bg-primary">
							<div class="inline">
								<i class="fa fa-clock-o m-r-5 m-l-5"></i>
								<p class="inline no-margin">{{itm.createdAt}}</p>
							</div>
							<div class="inline">
								<i class="fa fa-eye m-r-5 m-l-5"></i>
								<p class="inline no-margin">{{itm.get('views')}}</p>
							</div>
						</div>
						<div class="top-right m-r-10 text-success">
							<i class="fa fa-circle-o"></i>
						</div>
				</div>
			</div>
		</div>
</section>	
<footer></footer>
