
<navbar></navbar>
<header></header>
<section class="clearfix xs-no-padding">
	<div class="col-sm-12 bg-black p-b-25" ng-if="is_auth">
		<div class="col-sm-6 clearfix">
			<h1>Ви не авторизований користувач</h1>
			<h4 class="">Авторизуйтесь , для додавання своїх фотографій і постів</h4>
			<p class="no-margin">Щоб увійти в нашу систему, ми пропонуємо авторизуватись через <span>Facebook</span>.</p>
			<p>Ми отримаємо лише інформацію про вас, а не Ваші персональні данні.</p>
			<button class="btn btn-primary" ng-click="login()" ng-show="user == null">Увійти</button>
		</div>
	</div>
	<div class="col-sm-12 bg-black p-b-25 p-t-25 text-center" ng-if="!is_auth">
		<a href="/addnews" class="btn btn-primary"><i class="fa fa-camera m-r-10"></i>Добавити пост</a>
	</div>
	<div class="container xs-no-padding">
			<qrqposts newslimit="20"></qrqposts> 
	</div>
</section>	
<footer></footer>
