<div>
	<div class="gallery clearfix" masonry='{ "isFitWidth": true,"gutter": 10}'>
		<div ng-repeat="(key, itm) in user_posts" class="masonry-brick gallery-item" ng-click="open(itm.id)" attr="{{itm.id}}" adaptive-background>
			<div class="post_header clearfix">
				<div class="post_author" style="background-image:url('https://scontent.xx.fbcdn.net/hprofile-xlt1/v/t1.0-1/p50x50/11951946_842941295813740_3737236020154671941_n.jpg?oh=49b124fe0daa4212b15531c1fdff083e&oe=569970DC')">
					
				</div>
				<div class="pull-left">
					<b>{{itm.get('user_post_id')}}</b>
					<p class="text-black"><i class="fa fa-map-marker m-r-15"></i>Kyiv,novoz</p>
				</div>
				<div class="clearfix"></div>
				<p class="post_text">{{itm.get('user_post_text')}}</p>
			</div>
			<img class="full-width " alt="{{key}}" src="{{itm.get('user_post_image')}}"  />
				<div class="post_bottom clearfix">
					<div class="post-bot"><a href=""><i class="fa fa-heart"></i>{{itm.get('user_post_likes')}}</a></div>
					<div class="post-bot"><a><i class="fa fa-comments-o"></i>Comments</a></div>
					<div class="post-bot"><a><i class="fa fa-share-alt"></i>Share</a></div>
				</div> 
		</div>
	</div>
</div>