<div class="col-sm-12 xs-no-padding">
	<div class="gallery clearfix" masonry='{ "isFitWidth": true,"gutter": 10}'>
		<div ng-repeat="(key, itm) in user_posts" class="masonry-brick gallery-item" ng-click="open(itm.id)" attr="{{itm.id}}" adaptive-background>
			<div class="post_header clearfix">
				<a href="userpage?id={{itm.get('user_post_owner').id}}" class="post_author" style="background-image:url('{{itm.get('user_post_owner').get('smoll_avatar')}}')"></a>
				<div class="pull-left">
					<b>{{itm.get('user_post_owner').get('username')}}</b>
					<p class="text-black"><i class="fa fa-clock-o m-r-10"></i>
					<span  am-time-ago="itm.updatedAt"></span></p>

				</div>
				<div class="clearfix"></div>
				<p class="post_text">{{itm.get('user_post_text')}}</p>
			</div> 
			<img class="full-width " alt="{{key}}"  src="{{itm.get('user_post_file')._url}}"  />
<!--
				<div class="post_bottom clearfix">
					<div class="post-bot"><a href=""><i class="fa fa-heart"></i>{{itm.get('user_post_likes')}}</a></div>
					<div class="post-bot"><a><i class="fa fa-comments-o"></i>Comments</a></div>
					<div class="post-bot"><a><i class="fa fa-share-alt"></i>Share</a></div>
				</div>
				-->
		</div>
	</div>
</div>