.qrq9 {
    //border: 1px solid white;
    box-sizing: border-box;
    height: 120px;
		p {
			color: white;
			display: inline-block;
			font-size: 25px;
			height: 100%;
			line-height: 35px;
			margin: 0;
			padding: 22px;
			vertical-align: middle;
			width: 100%;
	}
} 